<thead role="rowgroup">
    <tr role="row">
        <th role="columnheader" class="rotate">Venue</th>
        <th role="columnheader">Description</th>
        <th role="columnheader" class="rotate">
            <div><span><strong>Menu</strong><br></span></div>
        </th>
        <th role="columnheader" class="rotate">
            <div><span><strong>Food</strong></span></div>
        </th>
        <th role="columnheader" class="rotate">
            <div><span><strong>Booze</strong></span></div>
        </th>
        <th role="columnheader" class="rotate">
            <div><span><strong>Pickup</strong></span></div>
        </th>
        <th role="columnheader" class="rotate">
            <div><span><strong>Self Delivery</strong></span></div>
        </th>
        <th role="columnheader" class="rotate">
            <div><span><strong>Uber Eats</strong></span></div>
        </th>
        <th role="columnheader" class="rotate">
            <div><span>Deliveroo</span></div>
        </th>
        <th role="columnheader" class="rotate">
            <div><span>Bopple</span></div>
        </th>
        <th role="columnheader" class="rotate">
            <div><span><strong>Instagram</strong></span></div>
        </th>
        <th role="columnheader" class="rotate">
            <div><span><strong>Facebook</strong></span></div>
        </th>
        <th role="columnheader">Address</th>
        <th role="columnheader">Phone</th>
        <th role="columnheader">Info</th>
    </tr>
</thead>